.headerLogo {
    height: 3.5rem;
    width: 4em;
    color: darkgreen;
}
.navbar
{
display: flex;
border-radius: 0% 0% 2% 12%;
}
.header_options{
    display: flex;
    justify-content: flex-end;
    margin-left: 9em;
}