
.login{
    display: flex;
    justify-content: center;
    margin: 12em;
    background-color: gray;
    border:  1px double rgb(233, 233, 86) ;
    border-radius: 15%;
    border-width: .3em;
}
#email{
    width: 15em
} 
#password{
    width: 15em
} 
/* #backgroundLogin{
    background-color: aquamarine;
} */