.searchMe{
    margin-left: 1em;
}
.quickSearchView{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#modal-content{
background-color: rgba(100, 148, 237, 0.534);
}