.recipePageHeader {
    text-align: center;
    letter-spacing: .2rem;
    margin-bottom: 3em;
}
.recipeImg{
    display: flex;
    justify-content: center;
}

.recipeContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: 0px;
}
.mb-3{
    width: 50%;
}

.addRecipeContainer {
    display: flex;
    flex-direction: row;
    color: gray;
    margin-top: 1.5em;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 0px;
}
#createButton {
    background-color: rgb(73, 192, 73);
    border-radius: 25% 5% 25% 5%;
    color: black;
    margin-top: .8em;
    border: 2px solid black;
    font-size: medium;
    margin-left: 3em;
    font-weight: 900;
}
#navbar-toggler{
    background-image:  url( "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXWchNLkR8ZW_Hi1_oTz73GNIojfc6yLsq5p9I-yyHif70meGN2muFOTByXdns8VmVwIs&usqp=CAU");
    float :right;
    width: 20em;
    height: 50px;
    border-radius: 30%;
    background-size: 100%;
    border: none;
}
.menu__tag{
    display: flex;
    justify-content: center;
}

#navbar-toggler{
    height: 3em;
    width: 5.5em;
}

#searchButton {
    display: flex;
    align-self: flex-end;
    background-color: rgb(73, 192, 73);
    border-radius: 25% 5% 25% 5%;
    color: black;
    margin-top: .7em;
    margin-left: 5em;
    border: 2px solid black;
    font-size: medium;
    font-weight: 900;
}
#userMenuRecipeButtons {
   display: flex;
   flex-direction: row;
   align-items: center;
}

#menu{
    display: flex;
    justify-content: center;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

 #editButton {
    color: black;
    background-color: aliceblue;
    padding: 0.25rem 1rem;
    border: 0ch;
    font-size: small;
}
 .editButtons {
display: flex;

}


.deleteButton {
    display: flex;
    justify-content: center;
    background-color: #db534b;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 15% 15% 15% 15% ;
    height: 2.5em;
    margin: 1em;
    border: 1px solid black;
    border: 0ch;
    font-size: small;
}
.saveButton {
    display: flex;
    justify-content: center;
    background-color: #db534b;
    color: white;
    padding: 0.25rem 1rem;
    margin: 1em;
    border-radius: 10%;
    border: 1px solid black;
    font-size: small;
}
.CreateFormButtons{
    display: flex;
    
}
.editButton {
    display: flex;
    justify-content: center;
    background-color: rgb(252, 252, 169);
    color: black;
    font: bolder;
    padding: 0.25rem 1rem;
    border-radius: 15% 15% 15% 15% ;
    height: 2.5em;
    margin: 1em;
    border: 1px solid black;
    font-size: small;
}
.editForm{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.createForm{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.videoButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 10% 10% 10% 10% ;
    height: 2.5em;
    margin: 1em;
    border: 1px solid black;
    font-size: small;
}
.recipeVideo {
    margin: 1em;
    border-radius: 10%;
}
.recipeImage {
    margin: 1em;
    border-radius: 10%;
    border: 3px solid rgb(252, 252, 169);
    border-right: 4px solid red;
    border-bottom: 4px solid red;
}
.recipeName {
    text-align: center;
    letter-spacing: .6rem;
    font-weight: 600;
    margin: 1em;
}

.recipeNameContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#recipe-cardBody {
    padding-left: 0px;
    padding-right: 0px;
}

.fooderLogo {
    display: flex;
    align-self: center;
    height: 18rem;
    width: 29em;
}

.logoContainer {
    display: flex;
    justify-content: center;
    opacity: 90%;
    /* background-image:url( "https://image.shutterstock.com/image-photo/spices-herbs-wooden-spoons-website-260nw-1130253749.jpg"); */
}
.logoCircle {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
main{ 
    position: relative;
    top: 2;
    width: 100%;
    /* background-image: url("https://img.freepik.com/free-photo/concept-tasty-food-with-taco-white-background_185193-69605.jpg?w=2000"); */
    fill-opacity: initial;
}
.modal-body{
    word-wrap: break-word;
}

#card
{
    border: 2px solid;
    border-color: rgb(73, 192, 73);
    border-right: 5px solid red;
    word-wrap: break-word;
    margin: 2em;
    width: 60%;
}