.text-mute {
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

.welcome__header {
    display: flex;
    top: 0;
}

.card-img {
    opacity: 80%;
    margin-top: -4em;
    margin-bottom: -2em;
    border: 3px solid red;
    border-radius: 0px 30px 0px 30px;
}

.card-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20em;
    margin-bottom: 12em;
    margin-top: -9em;
}

.welcome__card {
    display: flex;
    justify-content: center;
    position: relative;
    height: min-content;
    margin: 3em;
    margin-top: 12em;
    display: flex;
    background-color: black;
}
.footerCA{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: -1em;
}
.seperation {
    display: flex;
    margin: 1em;
    background-image: radial-gradient(rgb(231, 27, 27), #FFF), radial-gradient(#CCC, #FFF);
    background-position: 0, 100%, 0, 100%;
    border-radius: 40%;
    opacity: 25%;
    height: 1em;
    width: 100%;

}

.yellowSeperation {
    display: flex;
    align-items: center;
    margin: 1em;
    background-image: radial-gradient(goldenrod, #FFF), radial-gradient(#CCC, #FFF);
    background-position: 0, 100%, 0, 100%;
    border-radius: 40%;
    opacity: 25%;
    height: 1em;
    width: 100%;
}

#footer__link {
    opacity: 100%;
    color:black;
    text-decoration: underline;
    margin-left: 2em;
}
#footer___link {
    opacity: 100%;
    color:black;
    text-decoration: underline;
    margin-left: 2em;
}
#footer_link {
    opacity: 100%;
    color:black;
    /* text-decoration: underline; */
    margin-left: 2em;
}

.welcome-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -9em;
    margin-top: -5em;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.486);
    border-radius: 15px 5px 0px 0px;
    position: relative;
    bottom: -3em;
    width: 100%;
}

.footer-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-features {
    display: flex;
    flex-direction: column;
}

.footer-resources {
    display: flex;
    flex-direction: column;
}

.font {
    font-size: large;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.979);
}

/* footer logo stuff */
.footer-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.twit__flogo {
    /* margin: 1em; */
    border-radius: 30%;
}
.snap__flogo {
    margin-left: 1em;
    border-radius: 30%;
}
.fb__flogo {
    margin-left: 1em;
    border-radius: 30%;
}

.insta__flogo {
    margin-left: 1em;
    border-radius: 30%;
}


.footer-foot {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.font {
    font-size: x-large;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.welcomeTTIframe {
    margin-right: 4em;
    border-bottom: 6px solid black;
    border-radius: 140px 140px 10% 10%;
    padding-top: 6em;
}